
.inputWrap
{
    h4{
        padding-bottom: 10px;
        border-bottom: 2px solid #c4c4c4;
    }
    label{
        display: block;
        margin-bottom: 6px;
        font-weight: bold;
    }
    input{
        border-radius: 3px;
        box-sizing: border-box;
        font-size: .9rem;
        font-weight: bold;
        padding:6px 10px;
        width:100%;
        margin-bottom: 20px;
        outline-color:rgb(0, 132, 255);
        border: unset;
        box-shadow: 0 0 1px 1px #a7a7a7
    }
    button{
        font-size: .9rem;
        width:100%;
        padding:8px 10px;
        border: unset;
        background: rgb(97, 40, 204);
        color: white;
        font-weight: bold;
        border-radius: 3px;
        &:hover{
            opacity: 0.8;
            cursor: pointer;
        }
    }
}