
body{
  margin: 0;
}
.container
{
  margin: auto;
  max-width: 500px;
  box-shadow: 0 0 8px 0 gray;
  font-family: sans-serif;
  padding:20px;
  background-color: rgb(239, 239, 239);
  font-weight: bold;
}
.heading{
  text-align: center;
  margin-top: 0;
}